<ion-header>
  <ion-toolbar>
    <ion-title>Contact Us</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>

<ion-content  class="md hydrated" style="--offset-top:0px; --offset-bottom:0px;">
	<div >
		<ion-slides  class="md slides-md swiper-container hydrated swiper-container-initialized swiper-container-horizontal swiper-container-android">
			<!---->
			<div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
				<ion-slide  class="md swiper-slide swiper-zoom-container hydrated swiper-slide-active" style="width: 478px;"><img  src=""></ion-slide>
			</div>
		</ion-slides>
	</div>
	<div  class="ion-padding">
		<h1 >High Street Restaurant</h1>
		<div >50 Market Street, San Francisco, California 94103, United States</div>
		<h3 >About Us</h3>
		<p >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<!---->
	<ion-list  class="md list-md hydrated">
		<ion-list-header  class="md hydrated">
			<ion-label  class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Open Hours</ion-label>
		</ion-list-header>
		<!---->
		<ion-item  class="item md in-list ion-focusable item-label hydrated">
			<ion-label  class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
				<h2 >Monday</h2>
				<p >12:30 - 20:30</p>
			</ion-label>
		</ion-item>
		<ion-item  class="item md in-list ion-focusable item-label hydrated">
			<ion-label  class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
				<h2 >Tuesday</h2>
				<p >12:30 - 16:30 | 20:30 - 00:30</p>
			</ion-label>
		</ion-item>
		<ion-item  class="item md in-list ion-focusable item-label hydrated">
			<ion-label  class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
				<h2 >Wednesday</h2>
				<p >12:30 - 20:30</p>
			</ion-label>
		</ion-item>
		<ion-item  class="item md in-list ion-focusable item-label hydrated">
			<ion-label  class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
				<h2 >Thursday</h2>
				<p >12:30 - 21:01</p>
			</ion-label>
		</ion-item>
		<ion-item  class="item md in-list ion-focusable item-label hydrated">
			<ion-label  class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
				<h2 >Friday</h2>
				<p >12:30 - 20:30</p>
			</ion-label>
		</ion-item>
	</ion-list>
	<!---->
	<ion-list  class="md list-md hydrated">
		<ion-list-header  class="md hydrated">
			<ion-label  class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Contact Us</ion-label>
		</ion-list-header>
		<ion-item  button="" detail="false" class="item md in-list ion-activatable ion-focusable hydrated"> Call us
			<ion-icon  name="call" slot="end" role="img" class="md hydrated" aria-label="call"></ion-icon>
		</ion-item>
		<ion-item  button="" detail="false" class="item md in-list ion-activatable ion-focusable hydrated"> Send us email
			<ion-icon  name="mail" slot="end" role="img" class="md hydrated" aria-label="mail"></ion-icon>
		</ion-item>
		<ion-item  button="" detail="false" class="item md in-list ion-activatable ion-focusable hydrated"> Find us / Get directions
			<ion-icon  name="map" slot="end" role="img" class="md hydrated" aria-label="map"></ion-icon>
		</ion-item>
	</ion-list>
	<!---->
	<ion-list  class="md list-md hydrated">
		<ion-list-header  class="md hydrated">
			<ion-label  class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Get Social With Us</ion-label>
		</ion-list-header>
		<ion-item  button="" detail="false" class="item md in-list ion-activatable ion-focusable hydrated"> Facebook
			<ion-icon  name="logo-facebook" slot="end" role="img" class="md hydrated" aria-label="logo facebook"></ion-icon>
		</ion-item>
		<ion-item  button="" detail="false" class="item md in-list ion-activatable ion-focusable hydrated"> Instagram
			<ion-icon  name="logo-instagram" slot="end" role="img" class="md hydrated" aria-label="logo instagram"></ion-icon>
		</ion-item>
		<ion-item  button="" detail="false" class="item md in-list ion-activatable ion-focusable hydrated"> Twitter
			<ion-icon  name="logo-twitter" slot="end" role="img" class="md hydrated" aria-label="logo twitter"></ion-icon>
		</ion-item>
		<ion-item  button="" detail="false" class="item md in-list ion-activatable ion-focusable hydrated"> Pinterest
			<ion-icon  name="logo-pinterest" slot="end" role="img" class="md hydrated" aria-label="logo pinterest"></ion-icon>
		</ion-item>
	</ion-list>
</ion-content>