<ion-header>
	<!---->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Desserts</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content _ngcontent-snx-c3="" class="md hydrated" style="--offset-top:0px; --offset-bottom:0px;">
	<!---->

		<!---->
		<ion-row class="as-tile-pair md hydrated">
			<!---->
			<ion-col class="as-tile md hydrated">
				<ion-card class="md hydrated"><img src="https://skounis.s3.amazonaws.com/mobile-apps/restaurant-ionic/_demonstration/assets/cat-a-1-thumb.png">
					<ion-item lines="none" class="item md item-lines-none ion-focusable item-label hydrated">
						<ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
							<h5>Cretan Ntakos</h5>
							<!---->
							<h6>8,00&nbsp;€</h6></ion-label>
					</ion-item>
				</ion-card>
			</ion-col>
			<ion-col class="as-tile md hydrated">
				<ion-card class="md hydrated"><img src="https://skounis.s3.amazonaws.com/mobile-apps/restaurant-ionic/_demonstration/assets/cat-a-4-thumb.png">
					<ion-item lines="none" class="item md item-lines-none ion-focusable item-label hydrated">
						<ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
							<h5>Grilled Potatoes</h5>
							<!---->
							<h6>10,00&nbsp;€</h6></ion-label>
					</ion-item>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row class="as-tile-pair md hydrated">
			<!---->
			<ion-col class="as-tile md hydrated">
				<ion-card class="md hydrated"><img src="https://skounis.s3.amazonaws.com/mobile-apps/restaurant-ionic/_demonstration/assets/cat-a-2-thumb.png">
					<ion-item lines="none" class="item md item-lines-none ion-focusable item-label hydrated">
						<ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
							<h5>Golder Cauliflower</h5>
							<!---->
							<h6>13,00&nbsp;€</h6></ion-label>
					</ion-item>
				</ion-card>
			</ion-col>
			<ion-col class="as-tile md hydrated">
				<ion-card class="md hydrated"><img src="https://skounis.s3.amazonaws.com/mobile-apps/restaurant-ionic/_demonstration/assets/cat-a-3-thumb.png">
					<ion-item lines="none" class="item md item-lines-none ion-focusable item-label hydrated">
						<ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
							<h5>Shrimp Rolls</h5>
							<!---->
							<h6>6,00&nbsp;€</h6></ion-label>
					</ion-item>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row class="as-tile-pair md hydrated">
			<!---->
			<ion-col class="as-tile md hydrated">
				<ion-card class="md hydrated"><img src="https://skounis.s3.amazonaws.com/mobile-apps/restaurant-ionic/_demonstration/assets/cat-a-5-thumb.png">
					<ion-item lines="none" class="item md item-lines-none ion-focusable item-label hydrated">
						<ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
							<h5>Cheesy Rosemary Rolls</h5>
							<!---->
							<h6>6,00&nbsp;€</h6></ion-label>
					</ion-item>
				</ion-card>
			</ion-col>
			<ion-col class="as-tile md hydrated">
				<ion-card class="md hydrated"><img src="https://skounis.s3.amazonaws.com/mobile-apps/restaurant-ionic/_demonstration/assets/cat-a-7-thumb.png">
					<ion-item lines="none" class="item md item-lines-none ion-focusable item-label hydrated">
						<ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
							<h5>Dolmades</h5>
							<!---->
							<h6>9,00&nbsp;€</h6></ion-label>
					</ion-item>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row class="as-tile-pair md hydrated">
			<!---->
			<ion-col class="as-tile md hydrated">
				<ion-card class="md hydrated"><img src="https://skounis.s3.amazonaws.com/mobile-apps/restaurant-ionic/_demonstration/assets/cat-a-8-thumb.png">
					<ion-item lines="none" class="item md item-lines-none ion-focusable item-label hydrated">
						<ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
							<h5>Juicy Crepes</h5>
							<!---->
							<h6>7,00&nbsp;€</h6></ion-label>
					</ion-item>
				</ion-card>
			</ion-col>
			<ion-col class="as-tile md hydrated">
				<ion-card class="md hydrated"><img src="https://skounis.s3.amazonaws.com/mobile-apps/restaurant-ionic/_demonstration/assets/cat-a-6-thumb.png">
					<ion-item lines="none" class="item md item-lines-none ion-focusable item-label hydrated">
						<ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
							<h5>Crispy Turkey Bites</h5>
							<!---->
							<h6>8,00&nbsp;€</h6></ion-label>
					</ion-item>
				</ion-card>
			</ion-col>
		</ion-row>

</ion-content>