<ion-header>
	<!---->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="posts"></ion-back-button>
    </ion-buttons>
    <ion-title>Ο χρήστης Edesia Restaurant πρόσθεσε 6 νέες φωτογραφίες.</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="md hydrated" style="--offset-top:0px; --offset-bottom:0px;">
	<!---->
	<!----> 
	<div class="ion-padding">
		<!---->
		<h2>Ο χρήστης Edesia Restaurant πρόσθεσε 6 νέες φωτογραφίες.</h2>
		<p class="as-note">
			<ion-icon name="time-outline" role="img" class="md hydrated" aria-label="time outline"></ion-icon> 8/5/20, 2:27 PM
			<br>
			<ion-icon name="pricetag" role="img" class="md hydrated" aria-label="pricetag"></ion-icon> photo
			<br>
			<!----><span><ion-icon name="person" role="img" class="md hydrated" aria-label="person"></ion-icon> Edesia Restaurant </span></p>
	</div>
	<div class="ion-text-center">
		<!----><img src="https://scontent.fhyd14-1.fna.fbcdn.net/v/t1.0-0/p480x480/18268502_1819225681729554_6501371548671763085_n.png?_nc_cat=107&amp;_nc_sid=e007fa&amp;_nc_ohc=j5A2l2qd_L0AX_Gk6_k&amp;_nc_ht=scontent.fhyd14-1.fna&amp;oh=a390631f4a437e8363ee4d54963d8972&amp;oe=5F5191AE"></div>
	<div class="ion-padding">
		<!---->
		<p>Delicious and healthy</p>
		<!---->
		<!---->
		<ion-button expand="full" class="md button button-full button-solid ion-activatable ion-focusable hydrated">Salads
			<ion-icon ios="chevron-forward-circle-outline" md="caret-forward" slot="end" role="img" class="md hydrated" aria-label="caret forward"></ion-icon>
		</ion-button>
	</div>
</ion-content>