<ion-header>
	<!---->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Product Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="md hydrated" style="--offset-top:0px; --offset-bottom:0px;">
	<!---->
	<div >
		<div class= "proimg">

					<ion-img   style="width: auto;" src="https://skounis.s3.amazonaws.com/mobile-apps/restaurant-ionic/_demonstration/assets/cat-b-1-1.png"></ion-img>
		</div>
		<div  class="ion-padding-horizontal">
			<h2 >Dressed Feta Cheese</h2>
			<p  class="as-tags">
				<ion-icon  name="pricetags" role="img" class="md hydrated" aria-label="pricetags"></ion-icon> nulla, ornare </p>
			<p >Phasellus eu nulla id ex ornare tempor. Sed egestas turpis eu nisi aliquet, nec eleifend urna egestas.</p>
			<!---->
			<h5 >Options and extras</h5>
			<p >Select the options you want to be included in this item.</p>
		</div>
		<!---->
		<ion-list  class="md list-md hydrated">
			<ion-list-header  class="top-border no-border-bottom md hydrated">
				<ion-label  class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Options</ion-label>
			</ion-list-header>
			<!---->
			<ion-item  detail="false" class="item-checkbox-checked item md in-list ion-activatable ion-focusable item-label hydrated ion-untouched ion-pristine ion-valid">
				<ion-checkbox  slot="start" class="ng-untouched ng-pristine ng-valid md in-item checkbox-checked interactive hydrated ion-untouched ion-pristine ion-valid" role="checkbox" aria-checked="true" aria-labelledby="ion-cb-26-lbl">
					<input type="hidden" class="aux-input" name="ion-cb-26" value="on">
				</ion-checkbox>
				<ion-label  class="capital-letter sc-ion-label-md-h sc-ion-label-md-s md hydrated" id="ion-cb-26-lbl">Olives</ion-label>
			</ion-item>
			<ion-item  detail="false" class="item-checkbox-checked item md in-list ion-activatable ion-focusable item-label hydrated ion-untouched ion-pristine ion-valid">
				<ion-checkbox  slot="start" class="ng-untouched ng-pristine ng-valid md in-item checkbox-checked interactive hydrated ion-untouched ion-pristine ion-valid" role="checkbox" aria-checked="true" aria-labelledby="ion-cb-27-lbl">
					<input type="hidden" class="aux-input" name="ion-cb-27" value="on">
				</ion-checkbox>
				<ion-label  class="capital-letter sc-ion-label-md-h sc-ion-label-md-s md hydrated" id="ion-cb-27-lbl">Oregano</ion-label>
			</ion-item>
			<ion-item  detail="false" lines="none" class="item-checkbox-checked item md item-lines-none in-list ion-activatable ion-focusable item-label hydrated ion-untouched ion-pristine ion-valid">
				<ion-checkbox  slot="start" class="ng-untouched ng-pristine ng-valid md in-item checkbox-checked interactive hydrated ion-untouched ion-pristine ion-valid" role="checkbox" aria-checked="true" aria-labelledby="ion-cb-28-lbl">
					<input type="hidden" class="aux-input" name="ion-cb-28" value="on">
				</ion-checkbox>
				<ion-label  class="capital-letter sc-ion-label-md-h sc-ion-label-md-s md hydrated" id="ion-cb-28-lbl">Olive Oil</ion-label>
			</ion-item>
		</ion-list>
		<!---->
		<ion-list  lines="none" class="md list-md list-lines-none list-md-lines-none hydrated">
			<ion-list-header  class="top-border no-border-bottom md hydrated">
				<ion-label  class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">Extras</ion-label>
			</ion-list-header>
			<!---->
			<ion-item  detail="false" lines="none" class="item md item-lines-none in-list ion-activatable ion-focusable item-label hydrated ion-untouched ion-pristine ion-valid">
				<ion-checkbox  slot="start" class="ng-untouched ng-pristine ng-valid md in-item interactive hydrated ion-untouched ion-pristine ion-valid" role="checkbox" aria-checked="false" aria-labelledby="ion-cb-29-lbl">
					<input type="hidden" class="aux-input" name="Fresh rosemary leaves" value="">
				</ion-checkbox>
				<ion-label  class="capital-letter sc-ion-label-md-h sc-ion-label-md-s md hydrated" id="ion-cb-29-lbl">Fresh rosemary leaves
					<p  class="capital-letter">0,50&nbsp;€</p>
				</ion-label>
			</ion-item>
		</ion-list>
		<div  class="ion-padding-horizontal">
			<h5 >Size and prices</h5>
			<p >Select a size.</p>
		</div>
		<ion-list  class="md list-md hydrated">
			<ion-radio-group  class="ng-untouched ng-pristine ng-valid md hydrated ion-untouched ion-pristine ion-valid" role="radiogroup" aria-labelledby="ion-rg-7-lbl">
				<!---->
				<ion-item  detail="false" lines="none" class="item-radio-checked item md item-lines-none in-list ion-activatable ion-focusable item-label hydrated">
					<ion-label  class="capital-letter sc-ion-label-md-h sc-ion-label-md-s md hydrated" id="ion-rb-14-lbl">Standard
						<p  class="capital-letter">7,00&nbsp;€</p>
					</ion-label>
					<ion-radio  role="radio" aria-checked="true" aria-labelledby="ion-rb-14-lbl" class="md in-item interactive radio-checked hydrated"></ion-radio>
				</ion-item>
			</ion-radio-group>
		</ion-list>
		<div  class="ion-padding-bottom">
			<ion-row  class="md hydrated">
				<ion-col  class="md hydrated">
					<ion-button  block="" button="" expand="full" class="md button button-full button-solid ion-activatable ion-focusable hydrated">
						<ion-icon  name="basket" slot="start" role="img" class="md hydrated" aria-label="basket"></ion-icon> Quick add to cart </ion-button>
				</ion-col>
			</ion-row>
			<ion-row  class="ion-no-padding md hydrated">
				<ion-col  class="md hydrated">
					<ion-button  button="" color="light" expand="full" class="ion-color ion-color-light md button button-full button-solid ion-activatable ion-focusable hydrated">
						<ion-icon  name="cart" slot="start" role="img" class="md hydrated" aria-label="cart"></ion-icon> Add to cart </ion-button>
				</ion-col>
				<ion-col  class="md hydrated">
					<ion-button  button="" color="light" expand="full" class="ion-color ion-color-light md button button-full button-solid ion-activatable ion-focusable hydrated">
						<ion-icon  name="star" slot="start" role="img" class="md hydrated" aria-label="star"></ion-icon> Remove from favs </ion-button>
				</ion-col>
			</ion-row>
		</div>
	</div>
</ion-content>