<ion-header>
  <ion-toolbar>
    <ion-title>Categories</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>

<ion-content class="md hydrated" style="--offset-top:0px; --offset-bottom:0px;">
	<ion-list class="md list-md hydrated">
		<!---->
		<ion-item button="" class="item in-list ion-focusable item-label hydrated ion-text-wrap md ion-activatable" detail="false" tabindex="0">
			<ion-thumbnail class="ion-margin-end md hydrated" slot="start">
				<ion-img class="md hydrated"></ion-img>
			</ion-thumbnail>
			<ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
				<h2>Appetizers</h2>
				<p>Donec feugiat justo sapien. Etiam tempus lacus ut sem laoreet venenatis. Suspendisse velit ipsum, accumsan eu imperdiet sit amet, auctor non...</p>
			</ion-label>
		</ion-item>
		<ion-item button="" class="item in-list ion-focusable item-label hydrated ion-text-wrap md ion-activatable" detail="false" tabindex="0">
			<ion-thumbnail class="ion-margin-end md hydrated" slot="start">
				<ion-img class="md hydrated"></ion-img>
			</ion-thumbnail>
			<ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
				<h2>Salads</h2>
				<p>Duis in est vel mauris vestibulum dignissim. Quisque justo tellus, auctor et orci vel, hendrerit congue orci. Integer a iaculis ex. Pellente...</p>
			</ion-label>
		</ion-item>
		<ion-item button="" class="item in-list ion-focusable item-label hydrated ion-text-wrap md ion-activatable" detail="false" tabindex="0">
			<ion-thumbnail class="ion-margin-end md hydrated" slot="start">
				<ion-img class="md hydrated"></ion-img>
			</ion-thumbnail>
			<ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
				<h2>Sides</h2>
				<p>Nam laoreet libero quam. Sed erat dolor, posuere ac posuere id, bibendum ut sapien. Ut semper mollis suscipit.</p>
			</ion-label>
		</ion-item>
		<ion-item button="" class="item in-list ion-focusable item-label hydrated ion-text-wrap md ion-activatable" detail="false" tabindex="0">
			<ion-thumbnail class="ion-margin-end md hydrated" slot="start">
				<ion-img class="md hydrated"></ion-img>
			</ion-thumbnail>
			<ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
				<h2>Desserts</h2>
				<p>Nullam eget scelerisque neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed et condimentum lectus.</p>
			</ion-label>
		</ion-item>
		<ion-item button="" class="item in-list ion-focusable item-label hydrated ion-text-wrap md ion-activatable" detail="false" tabindex="0">
			<ion-thumbnail class="ion-margin-end md hydrated" slot="start">
				<ion-img class="md hydrated"></ion-img>
			</ion-thumbnail>
			<ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
				<h2>Main Course</h2>
				<p>Curabitur sodales hendrerit lorem ac congue. Nulla laoreet consequat augue, ut pretium mauris cursus facilisis. Donec sodales laoreet erat s...</p>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>