<ion-header>
	<!---->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Salads</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content _ngcontent-snx-c3="" class="md hydrated" style="--offset-top:0px; --offset-bottom:0px;">
	<!---->

		<!---->
		<ion-row class="as-tile-pair md hydrated">
			<!---->
			<ion-col class="as-tile md hydrated">
				<ion-card class="md hydrated"><img src="https://skounis.s3.amazonaws.com/mobile-apps/restaurant-ionic/_demonstration/assets/cat-e-1-thumb.png">
					<ion-item lines="none" class="item md item-lines-none ion-focusable item-label hydrated">
						<ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
							<h5>Greek Traditional Salad</h5>
							<!---->
							<h6>7,50&nbsp;€</h6></ion-label>
					</ion-item>
				</ion-card>
			</ion-col>
			<ion-col class="as-tile md hydrated">
				<ion-card class="md hydrated"><img src="https://skounis.s3.amazonaws.com/mobile-apps/restaurant-ionic/_demonstration/assets/cat-e-2-thumb.png">
					<ion-item lines="none" class="item md item-lines-none ion-focusable item-label hydrated">
						<ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
							<h5>Italian Caprese Salad</h5>
							<!---->
							<h6>7,50&nbsp;€</h6></ion-label>
					</ion-item>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row class="as-tile-pair md hydrated">
			<!---->
			<ion-col class="as-tile md hydrated">
				<ion-card class="md hydrated"><img src="https://skounis.s3.amazonaws.com/mobile-apps/restaurant-ionic/_demonstration/assets/cat-e-3-thumb.png">
					<ion-item lines="none" class="item md item-lines-none ion-focusable item-label hydrated">
						<ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
							<h5>Chicken Salad with Arugula</h5>
							<!---->
							<h6>11,00&nbsp;€</h6></ion-label>
					</ion-item>
				</ion-card>
			</ion-col>
			<ion-col class="as-tile md hydrated">
				<ion-card class="md hydrated"><img src="https://skounis.s3.amazonaws.com/mobile-apps/restaurant-ionic/_demonstration/assets/cat-e-5-thumb.png">
					<ion-item lines="none" class="item md item-lines-none ion-focusable item-label hydrated">
						<ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
							<h5>Radish Salad With Herbs</h5>
							<!---->
							<h6>11,00&nbsp;€</h6></ion-label>
					</ion-item>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row class="as-tile-pair md hydrated">
			<!---->
			<ion-col class="as-tile md hydrated">
				<ion-card class="md hydrated"><img src="https://skounis.s3.amazonaws.com/mobile-apps/restaurant-ionic/_demonstration/assets/cat-e-4-thumb.png">
					<ion-item lines="none" class="item md item-lines-none ion-focusable item-label hydrated">
						<ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
							<h5>Quinoa Salad with Cucumber</h5>
							<!---->
							<h6>10,00&nbsp;€</h6></ion-label>
					</ion-item>
				</ion-card>
			</ion-col>
			<ion-col class="as-tile md hydrated">
				<ion-card class="md hydrated"><img src="https://skounis.s3.amazonaws.com/mobile-apps/restaurant-ionic/_demonstration/assets/cat-e-6-thumb.png">
					<ion-item lines="none" class="item md item-lines-none ion-focusable item-label hydrated">
						<ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
							<h5>Tabbouleh Salad With Quinoa</h5>
							<!---->
							<h6>9,50&nbsp;€</h6></ion-label>
					</ion-item>
				</ion-card>
			</ion-col>
		</ion-row>

</ion-content>