<ion-header>
  <ion-toolbar>
    <ion-title>Posts</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>
<ion-content>
  <ion-content class="md hydrated" style="--offset-top:0px; --offset-bottom:0px;">
    <ion-list class="md list-md hydrated">
      <!---->
      <ion-item button="" class="ion-text-wrap item md in-list ion-activatable ion-focusable item-label hydrated" detail="false" tabindex="0">
        <ion-thumbnail slot="start" class="md hydrated">
          <!----><img class="as-thumb" src="https://scontent.fhyd14-1.fna.fbcdn.net/v/l/t31.0-0/c33.0.130.130a/p130x130/18238711_1819236035061852_7241301916849466617_o.jpg?_nc_cat=101&amp;_nc_sid=b386c4&amp;_nc_ohc=AJS1h5mfWqsAX8SlR4E&amp;_nc_ht=scontent.fhyd14-1.fna&amp;oh=b79592327fb3a5de1f16bd9d21dd39ae&amp;oe=5F51C989"></ion-thumbnail>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h2>Eat, Drink, Bloody Mary</h2>
          <p class="as-note">
            <ion-icon name="time-outline" role="img" class="md hydrated" aria-label="time outline"></ion-icon> 8/5/20, 2:22 PM</p>
          <p></p>
          <!---->
          <p>Ο χρήστης Edesia Restaurant πρόσθεσε μια εκδήλωση.</p>
        </ion-label>
      </ion-item>
      <ion-item button="" class="ion-text-wrap item md in-list ion-activatable ion-focusable item-label hydrated" detail="false" tabindex="0">
        <ion-thumbnail slot="start" class="md hydrated">
          <!----><img class="as-thumb" src="https://scontent.fhyd14-1.fna.fbcdn.net/v/t31.0-0/c32.0.130.130a/p130x130/18278620_1819233771728745_1146805568072305092_o.jpg?_nc_cat=111&amp;_nc_sid=b386c4&amp;_nc_ohc=yZlpe7z4QQkAX8rlJdK&amp;_nc_oc=AQm_ysCmHepSDFgiawkXioc6197LAVenllhWyXwOiedEvmDDYlu6bn90AjuYR-aGBnxf5rxr_Vpe2dXHc9yay4Xg&amp;_nc_ht=scontent.fhyd14-1.fna&amp;oh=17f35f0fd4d093650acb3d1abb40696a&amp;oe=5F519140"></ion-thumbnail>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h2>Marco Caprai Winemaker Dinner</h2>
          <p class="as-note">
            <ion-icon name="time-outline" role="img" class="md hydrated" aria-label="time outline"></ion-icon> 8/5/20, 2:22 PM</p>
          <p></p>
          <!---->
          <p>Ο χρήστης Edesia Restaurant πρόσθεσε μια εκδήλωση.</p>
        </ion-label>
      </ion-item>
      <ion-item button="" class="ion-text-wrap item md in-list ion-activatable ion-focusable item-label hydrated" detail="false" tabindex="0">
        <ion-thumbnail slot="start" class="md hydrated">
          <!----><img class="as-thumb" src="https://scontent.fhyd14-1.fna.fbcdn.net/v/t1.0-0/s130x130/18268502_1819225681729554_6501371548671763085_n.png?_nc_cat=107&amp;_nc_sid=e007fa&amp;_nc_ohc=j5A2l2qd_L0AX_Gk6_k&amp;_nc_ht=scontent.fhyd14-1.fna&amp;oh=1ae48411c97c6b37fefa50aa15f91b12&amp;oe=5F4FE6DE"></ion-thumbnail>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h2>Salads</h2>
          <p class="as-note">
            <ion-icon name="time-outline" role="img" class="md hydrated" aria-label="time outline"></ion-icon> 8/5/20, 2:22 PM</p>
          <p>Delicious and healthy</p>
          <!---->
        </ion-label>
      </ion-item>
      <ion-item button="" class="ion-text-wrap item md in-list ion-activatable ion-focusable item-label hydrated" detail="false" tabindex="0">
        <ion-thumbnail slot="start" class="md hydrated">
          <!----><img class="as-thumb" src="https://scontent.fhyd14-1.fna.fbcdn.net/v/t1.0-0/s130x130/18301314_1819223401729782_1709434642304386290_n.png?_nc_cat=109&amp;_nc_sid=e007fa&amp;_nc_ohc=RXzR-x3htp4AX8KpGNy&amp;_nc_ht=scontent.fhyd14-1.fna&amp;oh=3fbc2e44f785629c2bdb1f4ac11d1a31&amp;oe=5F50ED39"></ion-thumbnail>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h2>Sides</h2>
          <p class="as-note">
            <ion-icon name="time-outline" role="img" class="md hydrated" aria-label="time outline"></ion-icon> 8/5/20, 2:22 PM</p>
          <p>Complete a knock-out meal</p>
          <!---->
        </ion-label>
      </ion-item>
      <ion-item button="" class="ion-text-wrap item md in-list ion-activatable ion-focusable item-label hydrated" detail="false" tabindex="0">
        <ion-thumbnail slot="start" class="md hydrated">
          <!----><img class="as-thumb" src="https://scontent.fhyd14-1.fna.fbcdn.net/v/t1.0-0/s130x130/18033142_1812462195739236_8275082194925732829_n.jpg?_nc_cat=108&amp;_nc_sid=dd9801&amp;_nc_ohc=z8N4lRTUy90AX8VNTNZ&amp;_nc_ht=scontent.fhyd14-1.fna&amp;_nc_tp=7&amp;oh=274768cf3951119bc0e4e63d5d55213d&amp;oe=5F5185DD"></ion-thumbnail>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h2>Φωτογραφία εξωφύλλου του χρήστη Edesia Restaurant</h2>
          <p class="as-note">
            <ion-icon name="time-outline" role="img" class="md hydrated" aria-label="time outline"></ion-icon> 8/5/20, 2:22 PM</p>
          <p></p>
          <!---->
          <p>Ο χρήστης Edesia Restaurant ενημέρωσε τη φωτογραφία εξωφύλλου.</p>
        </ion-label>
      </ion-item>
      <ion-item button="" class="ion-text-wrap item md in-list ion-activatable ion-focusable item-label hydrated" detail="false" tabindex="0">
        <ion-thumbnail slot="start" class="md hydrated">
          <!----><img class="as-thumb" src="https://scontent.fhyd14-1.fna.fbcdn.net/v/t1.0-0/s130x130/17424967_1794078104244312_752903464526075516_n.png?_nc_cat=109&amp;_nc_sid=e007fa&amp;_nc_ohc=3rV00P2ba9cAX_iXmO_&amp;_nc_ht=scontent.fhyd14-1.fna&amp;oh=2b757d5ca40ca70f06d3c577a1a3073e&amp;oe=5F509CC3"></ion-thumbnail>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h2>Main Course</h2>
          <p class="as-note">
            <ion-icon name="time-outline" role="img" class="md hydrated" aria-label="time outline"></ion-icon> 8/5/20, 2:22 PM</p>
          <p>Our lovely suggestions</p>
          <!---->
        </ion-label>
      </ion-item>
      <ion-item button="" class="ion-text-wrap item md in-list ion-activatable ion-focusable item-label hydrated" detail="false" tabindex="0">
        <ion-thumbnail slot="start" class="md hydrated">
          <!----><img class="as-thumb" src="https://scontent.fhyd14-1.fna.fbcdn.net/v/t1.0-0/s130x130/17342792_1794076634244459_7482094908377665556_n.png?_nc_cat=103&amp;_nc_sid=e007fa&amp;_nc_ohc=KfVRO36tD8cAX-wkBEd&amp;_nc_ht=scontent.fhyd14-1.fna&amp;oh=6d51f29384671834d1722c52a67511ad&amp;oe=5F4FC374"></ion-thumbnail>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h2>Appetizers</h2>
          <p class="as-note">
            <ion-icon name="time-outline" role="img" class="md hydrated" aria-label="time outline"></ion-icon> 8/5/20, 2:22 PM</p>
          <p>Most popular selections</p>
          <!---->
        </ion-label>
      </ion-item>
      <ion-item button="" class="ion-text-wrap item md in-list ion-activatable ion-focusable item-label hydrated" detail="false" tabindex="0">
        <ion-thumbnail slot="start" class="md hydrated">
          <!----><img class="as-thumb" src="https://scontent.fhyd14-1.fna.fbcdn.net/v/t1.0-0/s130x130/17309126_1790472807938175_625567065098484527_n.jpg?_nc_cat=101&amp;_nc_sid=e007fa&amp;_nc_ohc=7d95TPFz3jwAX_rAnO0&amp;_nc_ht=scontent.fhyd14-1.fna&amp;_nc_tp=7&amp;oh=9356f23375a458148d7d84e07828b4d3&amp;oe=5F4E3625"></ion-thumbnail>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h2>Desserts</h2>
          <p class="as-note">
            <ion-icon name="time-outline" role="img" class="md hydrated" aria-label="time outline"></ion-icon> 8/5/20, 2:22 PM</p>
          <p>Proven to please</p>
          <!---->
        </ion-label>
      </ion-item>
      <ion-item button="" class="ion-text-wrap item md in-list ion-activatable ion-focusable item-label hydrated" detail="false" tabindex="0">
        <ion-thumbnail slot="start" class="md hydrated">
          <!----><img class="as-thumb" src="https://scontent.fhyd14-1.fna.fbcdn.net/v/t1.0-0/s130x130/17352539_1790468854605237_4385684006603624790_n.jpg?_nc_cat=109&amp;_nc_sid=2d5d41&amp;_nc_ohc=Ynmmf7hvVjAAX-NmDi-&amp;_nc_ht=scontent.fhyd14-1.fna&amp;_nc_tp=7&amp;oh=7bc0bcb93b5e6452f2bde4b98228d985&amp;oe=5F4EB295"></ion-thumbnail>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h2>Φωτογραφίες χρονολογίου</h2>
          <p class="as-note">
            <ion-icon name="time-outline" role="img" class="md hydrated" aria-label="time outline"></ion-icon> 8/5/20, 2:22 PM</p>
          <p>Summer menu sneak peek</p>
          <!---->
        </ion-label>
      </ion-item>
      <ion-item button="" class="ion-text-wrap item md in-list ion-activatable ion-focusable item-label hydrated" detail="false" tabindex="0">
        <ion-thumbnail slot="start" class="md hydrated">
          <!----><img class="as-thumb" src="https://scontent.fhyd14-1.fna.fbcdn.net/v/t31.0-0/c19.0.130.130a/p130x130/17211961_1790465837938872_2259445853617678238_o.jpg?_nc_cat=103&amp;_nc_sid=b386c4&amp;_nc_ohc=JQIP1DD7EBoAX8AZVuH&amp;_nc_oc=AQm2a8uwbSpQ3PZD4yrI21d8JQUROmCaHLbO61k_wQgOHSndUXb_1xjD26tggfYo0EQmglPnay2GhAiARClerNLL&amp;_nc_ht=scontent.fhyd14-1.fna&amp;oh=6ac734ed2790cf3a8da2bfcd7022986d&amp;oe=5F4E77F3"></ion-thumbnail>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h2>Cocktail Bar Opening</h2>
          <p class="as-note">
            <ion-icon name="time-outline" role="img" class="md hydrated" aria-label="time outline"></ion-icon> 8/5/20, 2:22 PM</p>
          <p></p>
          <!---->
          <p>Ο χρήστης Edesia Restaurant πρόσθεσε μια εκδήλωση.</p>
        </ion-label>
      </ion-item>
      <ion-item button="" class="ion-text-wrap item md in-list ion-activatable ion-focusable item-label hydrated" detail="false" tabindex="0">
        <ion-thumbnail slot="start" class="md hydrated">
          <!----><img class="as-thumb" src="https://scontent.fhyd14-1.fna.fbcdn.net/v/t31.0-0/c0.22.130.130a/p130x130/17310957_1790458484606274_7550207947733788502_o.jpg?_nc_cat=110&amp;_nc_sid=b386c4&amp;_nc_ohc=taFwM_-g_9gAX-kdvem&amp;_nc_ht=scontent.fhyd14-1.fna&amp;oh=1c5de2b74fe088452b5a98e219cddd78&amp;oe=5F501382"></ion-thumbnail>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h2>Edesia Summer Opening</h2>
          <p class="as-note">
            <ion-icon name="time-outline" role="img" class="md hydrated" aria-label="time outline"></ion-icon> 8/5/20, 2:22 PM</p>
          <p></p>
          <!---->
          <p>Ο χρήστης Edesia Restaurant πρόσθεσε μια εκδήλωση.</p>
        </ion-label>
      </ion-item>
      <ion-item button="" class="ion-text-wrap item md in-list ion-activatable ion-focusable item-label hydrated" detail="false" tabindex="0">
        <ion-thumbnail slot="start" class="md hydrated">
          <!----><img class="as-thumb" src="https://scontent.fhyd14-1.fna.fbcdn.net/v/t1.0-0/s130x130/15665429_1443127419050999_158038693736224519_n.jpg?_nc_cat=101&amp;_nc_sid=2d5d41&amp;_nc_ohc=lMkzJR__PywAX83oznT&amp;_nc_ht=scontent.fhyd14-1.fna&amp;_nc_tp=7&amp;oh=aab1279c32f1db40561a5c45dd4033ce&amp;oe=5F500B8D"></ion-thumbnail>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h2>Gallery Art New York</h2>
          <p class="as-note">
            <ion-icon name="time-outline" role="img" class="md hydrated" aria-label="time outline"></ion-icon> 8/5/20, 2:22 PM</p>
          <p>Giving a bite of something you've bitten off of...</p>
          <!---->
        </ion-label>
      </ion-item>
      <ion-item button="" class="ion-text-wrap item md in-list ion-activatable ion-focusable item-label hydrated" detail="false" tabindex="0">
        <ion-thumbnail slot="start" class="md hydrated">
          <!----><img class="as-thumb" src="https://external.fhyd14-1.fna.fbcdn.net/safe_image.php?d=AQDLoi0kyWEm88SI&amp;w=130&amp;h=130&amp;url=http%3A%2F%2Fmedia.vanityfair.com%2Fphotos%2F55f17580200c343535919969%2F16%3A9%2Fw_1200%2Ch_630%2Cc_limit%2Ft-fashion-week-cocktail-rachel-comey.JPG&amp;cfs=1&amp;_nc_hash=AQCqvUDTnIFiPmRe"></ion-thumbnail>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h2>A Cocktail Pulled Straight From the Runway</h2>
          <p class="as-note">
            <ion-icon name="time-outline" role="img" class="md hydrated" aria-label="time outline"></ion-icon> 8/5/20, 2:22 PM</p>
          <p>Check out the recipe for our "Working Title" cocktail, which was created exclusively for Rachel Comey's #NYFW show.</p>
          <!---->
        </ion-label>
      </ion-item>
      <ion-item button="" class="ion-text-wrap item md in-list ion-activatable ion-focusable item-label hydrated" detail="false" tabindex="0">
        <ion-thumbnail slot="start" class="md hydrated">
          <!----><img class="as-thumb" src="https://scontent.fhyd14-1.fna.fbcdn.net/v/t31.0-0/s130x130/17192492_1790442244607898_5394869062613344583_o.jpg?_nc_cat=110&amp;_nc_sid=2d5d41&amp;_nc_ohc=ZT_TPrgvWNAAX9MSoY8&amp;_nc_ht=scontent.fhyd14-1.fna&amp;_nc_tp=7&amp;oh=9baa02a75b7685372dbdba0ddac2791c&amp;oe=5F4E774F"></ion-thumbnail>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h2>Φωτογραφίες χρονολογίου</h2>
          <p class="as-note">
            <ion-icon name="time-outline" role="img" class="md hydrated" aria-label="time outline"></ion-icon> 8/5/20, 2:22 PM</p>
          <p>Join us for brunch on Saturday April 2nd from 11:30am - 3pm, when we'll be celebrating The Violet Bakery Cookbook launch! Recipes from the b...</p>
          <!---->
        </ion-label>
      </ion-item>
      <ion-item button="" class="ion-text-wrap item md in-list ion-activatable ion-focusable item-label hydrated" detail="false" tabindex="0">
        <ion-thumbnail slot="start" class="md hydrated">
          <!---->
        </ion-thumbnail>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h2>The World's 50 Best Restaurants</h2>
          <p class="as-note">
            <ion-icon name="time-outline" role="img" class="md hydrated" aria-label="time outline"></ion-icon> 8/5/20, 2:22 PM</p>
          <p>Exploring flavor with The World's 50 Best Restaurants and The Glenlivet. #ShowUsYourFlavor #edesianyc</p>
          <!---->
        </ion-label>
      </ion-item>
      <ion-item button="" class="ion-text-wrap item md in-list ion-activatable ion-focusable item-label hydrated" detail="false" tabindex="0">
        <ion-thumbnail slot="start" class="md hydrated">
          <!----><img class="as-thumb" src="https://scontent.fhyd14-1.fna.fbcdn.net/v/t1.0-0/p130x130/17309067_1790438921274897_1510239633961842803_n.png?_nc_cat=107&amp;_nc_sid=85a577&amp;_nc_ohc=XGVlqQlJ0McAX9iqkNx&amp;_nc_ht=scontent.fhyd14-1.fna&amp;oh=375c00fd75cafbbdca0c32073ee0f0ad&amp;oe=5F4EE632"></ion-thumbnail>
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h2>Edesia Restaurant</h2>
          <p class="as-note">
            <ion-icon name="time-outline" role="img" class="md hydrated" aria-label="time outline"></ion-icon> 8/5/20, 2:22 PM</p>
          <p></p>
          <!---->
          <p>Ο χρήστης Edesia Restaurant ενημέρωσε την εικόνα του προφίλ του.</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>