.getting-started[_ngcontent-oeb-c1] .featured-products[_ngcontent-oeb-c1] .product-title[_ngcontent-oeb-c1] {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  border: 0;
  background: rgba(255,255,255,.6);
  padding: 10px;
  text-align: left;
  height: 60px;
}