<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>
<ion-content _ngcontent-oeb-c1="" class="getting-started md hydrated" style="--offset-top:0px; --offset-bottom:0px;">
	<!---->
	<div _ngcontent-oeb-c1="" class="featured-products">
		<ion-slides _ngcontent-oeb-c1="" pager="" class="md slides-md swiper-container hydrated swiper-container-initialized swiper-container-horizontal swiper-container-android">
			<!---->
			<div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
				<!---->
				<ion-slide _ngcontent-oeb-c1="" class="md swiper-slide swiper-zoom-container hydrated swiper-slide-active" style="width: 360px;"><img _ngcontent-oeb-c1="" src="https://skounis.s3.amazonaws.com/mobile-apps/restaurant-ionic/_demonstration/assets/cat-d-4-1.png">
					<div _ngcontent-oeb-c1="" class="product-title ion-text-wrap"> Crawfish </div>
				</ion-slide>
				<ion-slide _ngcontent-oeb-c1="" class="md swiper-slide swiper-zoom-container hydrated swiper-slide-next" style="width: 360px;"><img _ngcontent-oeb-c1="" src="https://skounis.s3.amazonaws.com/mobile-apps/restaurant-ionic/_demonstration/assets/cat-b-2-1.png">
					<div _ngcontent-oeb-c1="" class="product-title ion-text-wrap"> Chicken and Onion Mix </div>
				</ion-slide>
				<ion-slide _ngcontent-oeb-c1="" class="md swiper-slide swiper-zoom-container hydrated" style="width: 360px;"><img _ngcontent-oeb-c1="" src="https://skounis.s3.amazonaws.com/mobile-apps/restaurant-ionic/_demonstration/assets/cat-a-3-1.png">
					<div _ngcontent-oeb-c1="" class="product-title ion-text-wrap"> Shrimp Rolls </div>
				</ion-slide>
			</div>
			<div class="swiper-pagination swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
		</ion-slides>
	</div>
	<!---->
	<ion-row _ngcontent-oeb-c1="" class="as-tile-pair md hydrated">
		<!---->
		<ion-col _ngcontent-oeb-c1="" class="as-tile md hydrated">
			<ion-card _ngcontent-oeb-c1="" class="md hydrated"><img _ngcontent-oeb-c1="" src="https://skounis.s3.amazonaws.com/mobile-apps/restaurant-ionic/_demonstration/assets/cat-a-thumb.png">
				<ion-card-content _ngcontent-oeb-c1="" class="md card-content-md hydrated">
					<h5 _ngcontent-oeb-c1="" class="ion-text-nowrap ion-text-center"> Appetizers </h5></ion-card-content>
			</ion-card>
		</ion-col>
		<ion-col _ngcontent-oeb-c1="" class="as-tile md hydrated">
			<ion-card _ngcontent-oeb-c1="" class="md hydrated"><img _ngcontent-oeb-c1="" src="https://skounis.s3.amazonaws.com/mobile-apps/restaurant-ionic/_demonstration/assets/cat-e-thumb.png">
				<ion-card-content _ngcontent-oeb-c1="" class="md card-content-md hydrated">
					<h5 _ngcontent-oeb-c1="" class="ion-text-nowrap ion-text-center"> Salads </h5></ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
	<ion-row _ngcontent-oeb-c1="" class="as-tile-pair md hydrated">
		<!---->
		<ion-col _ngcontent-oeb-c1="" class="as-tile md hydrated">
			<ion-card _ngcontent-oeb-c1="" class="md hydrated"><img _ngcontent-oeb-c1="" src="https://skounis.s3.amazonaws.com/mobile-apps/restaurant-ionic/_demonstration/assets/cat-b-thumb.png">
				<ion-card-content _ngcontent-oeb-c1="" class="md card-content-md hydrated">
					<h5 _ngcontent-oeb-c1="" class="ion-text-nowrap ion-text-center"> Sides </h5></ion-card-content>
			</ion-card>
		</ion-col>
		<ion-col _ngcontent-oeb-c1="" class="as-tile md hydrated">
			<ion-card _ngcontent-oeb-c1="" class="md hydrated"><img _ngcontent-oeb-c1="" src="https://skounis.s3.amazonaws.com/mobile-apps/restaurant-ionic/_demonstration/assets/cat-c-thumb.png">
				<ion-card-content _ngcontent-oeb-c1="" class="md card-content-md hydrated">
					<h5 _ngcontent-oeb-c1="" class="ion-text-nowrap ion-text-center"> Desserts </h5></ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
	<ion-row _ngcontent-oeb-c1="" class="as-tile-pair md hydrated">
		<!---->
		<ion-col _ngcontent-oeb-c1="" class="as-tile md hydrated">
			<ion-card _ngcontent-oeb-c1="" class="md hydrated"><img _ngcontent-oeb-c1="" src="https://skounis.s3.amazonaws.com/mobile-apps/restaurant-ionic/_demonstration/assets/cat-d-thumb.png">
				<ion-card-content _ngcontent-oeb-c1="" class="md card-content-md hydrated">
					<h5 _ngcontent-oeb-c1="" class="ion-text-nowrap ion-text-center"> Main Course </h5></ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
	<div _ngcontent-oeb-c1="" class="as-quick-actions">
		<ion-card _ngcontent-oeb-c1="" class="ion-no-margin md hydrated">
			<ion-grid _ngcontent-oeb-c1="" class="md hydrated">
				<ion-row _ngcontent-oeb-c1="" class="md hydrated">
					<ion-col _ngcontent-oeb-c1="" class="md hydrated">
						<ion-item _ngcontent-oeb-c1="" button="" detail="false" expand="full" lines="none" routerlink="/contact-us" tabindex="0" class="item md item-lines-none ion-activatable ion-focusable hydrated">
							<ion-icon _ngcontent-oeb-c1="" class="ion-margin-end md hydrated" item-start="" name="information-circle" role="img" aria-label="information circle"></ion-icon> Contact us </ion-item>
					</ion-col>
					<ion-col _ngcontent-oeb-c1="" class="md hydrated">
						<ion-item _ngcontent-oeb-c1="" button="" detail="false" expand="full" lines="none" routerlink="/google-maps" tabindex="0" class="item md item-lines-none ion-activatable ion-focusable hydrated">
							<ion-icon _ngcontent-oeb-c1="" class="ion-margin-end md hydrated" item-start="" name="map" role="img" aria-label="map"></ion-icon> Map </ion-item>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card>
	</div>
</ion-content>