<ion-header>
  <ion-toolbar>
    <ion-title>Cart</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>

<ion-content>
 </ion-content>
 <ion-footer _ngcontent-bwa-c2="" role="contentinfo" class="md footer-md hydrated"><!---->
  <ion-toolbar _ngcontent-bwa-c2="" class="in-toolbar md hydrated">
    <div _ngcontent-bwa-c2="" slot="start">
      <ion-item _ngcontent-bwa-c2="" lines="none" class="item md item-lines-none ion-focusable item-label hydrated">
        <ion-label _ngcontent-bwa-c2="" class="sc-ion-label-md-h sc-ion-label-md-s md hydrated"><!----><!---->
          <span _ngcontent-bwa-c2="">
            Cart is empty
          </span>
        </ion-label>
      </ion-item>
    </div>
    <ion-buttons _ngcontent-bwa-c2="" slot="primary" class="buttons-last-slot sc-ion-buttons-md-h sc-ion-buttons-md-s md hydrated">
      <ion-button _ngcontent-bwa-c2="" aria-disabled="true" class="md button button-clear in-toolbar button-disabled ion-activatable ion-focusable hydrated" disabled=""> Checkout <ion-icon _ngcontent-bwa-c2="" ios="paper-plane-sharp" md="send" slot="end" role="img" class="md hydrated" aria-label="send"></ion-icon></ion-button></ion-buttons></ion-toolbar>
</ion-footer>
